.parts-weight-modal {
  .parts-weight-order-info{
    margin-top: 4px;
    margin-bottom: 16px;

    .parts-weight-order-name {
      font-weight: 600;
    }
  }

  .ant-tag {
    margin: 0;
  }

  .ant-input-number {
    width: 100%;
  }
}
