.view-order {
  h4 {
    margin-top: 0;
    margin-bottom: 16px;
    opacity: 0.5;
    font-weight: 400;
  }

  .material-title {
    font-size: 16px;
    font-weight: 400;
    color: var(--ant-color-primary);
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
