.view-gemstone {
  h4 {
    margin-top: 0;
    margin-bottom: 16px;
    opacity: 0.5;
    font-weight: 400;
  }

  .subtitle {
    font-size: 12px;
    color: var(--ant-color-primary);
  }

  .subtitle+h4 {
    margin-bottom: 0;
  }

  .total-cost-title {
    margin: 0;
    opacity: 1;
    font-weight: 600;
  }
}
