.summary-card {
  width: 100%;
  border: 1px solid var(--ant-color-primary-border);

  .ant-collapse-item {

    .ant-collapse-header {
      padding: 16px;
      align-items: center;
    }
  }

  .expanded-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    padding: 7px;
    margin-right: 4px;
    border: 2px solid whitesmoke;
    border-radius: 6px;

    &:hover {
      border-color: rgba(117, 92, 68, 0.5);
    }

    .plus-card-icon, .minus-card-icon {
      position: absolute;
      transition: all 0.3s ease;
    }
  }

  .summary-card-title {
    font-size: 16px;
    font-weight: 600;
  }

  .price-value {
    font-size: 24px;
    font-weight: 600;
    color: var(--ant-color-primary-active);
  }

  table {
    border: 1px solid var(--ant-color-primary-border);
    border-radius: 8px;
    overflow: hidden;

    .no-border-row {
      td {
        border-bottom: none !important;
      }

      span {
        font-weight: 600;
      }
    }
  }

   .subtitle {
    font-size: 12px;
    color: var(--ant-color-text-description);
   }

  .total-sale {
    width: 160px;
    padding-left: 16px;
    font-weight: 600;
    font-size: 20px;
    color: var(--ant-color-primary-active);
  }

  .ant-collapse-item-active .ant-collapse-header-text .price-value {
    transition: 0.1s;
    opacity: 0;
  }
}
