server:
  port: ${SERVER_PORT:7001}

spring:
  application:
    name: ${APP_NAME:atelier-backend}
  docker:
    compose:
      enabled: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${APP_JWT_ISSUER_URI:http://localhost:8081/realms/master}
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    show-sql: ${APP_SHOW_SQL:true}
    properties:
      hibernate:
        query:
          fail_on_pagination_over_collection_fetch: true
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${APP_DATABASE_URL:jdbc:postgresql://localhost:5432/atelier}
    username: ${APP_DATABASE_USERNAME:${USER}}
    password: ${APP_DATABASE_PASSWORD:}
    hikari:
      maximum-pool-size: 16
      connection-timeout: 60000
      validation-timeout: 60000
      max-lifetime: 900000
  liquibase:
    change-log: db/changelog/root.xml
  servlet:
    multipart:
      max-file-size: 5MB

email:
  enable: ${APP_EMAIL_ENABLE:false}
  properties:
    host: ${APP_EMAIL_HOST:localhost}
    port: ${APP_EMAIL_PORT:587}
    username: ${APP_EMAIL_USERNAME:}
    password: ${APP_EMAIL_PASSWORD:}
    protocol: ${APP_EMAIL_PROTOCOL:smtp}
    sender: ${APP_EMAIL_SENDER:noreply@atelier.local}

organization:
  name: ${APP_KEYCLOAK_ORGANIZATION:atelier}

keycloak:
  url: ${APP_KEYCLOAK_URL:http://localhost:8081}
  realm: ${APP_KEYCLOAK_REALM:master}
  organization: ${APP_KEYCLOAK_ORGANIZATION:atelier}
  client-id: ${APP_KEYCLOAK_CLIENT_ID:atelier-client}
  client-secret: ${APP_KEYCLOAK_CLIENT_SECRET:}

cors:
  allowed-origins: ${APP_CORS_ALLOWED_ORIGINS:http://localhost:7101,http://localhost:3000,http://localhost:5173}

frontend:
  url: ${APP_FRONTEND_URL:http://localhost:7101}
  new-password-path: ${APP_FRONTEND_NEW_PASSWORD_PATH:/new-password}
  restore-password-path: ${APP_FRONTEND_RESTORE_PASSWORD_PATH:/restore-password}
  timezone: ${APP_FRONTEND_TIMEZONE:Europe/Paris}

springdoc:
  api-docs:
    enabled: ${APP_SWAGGER_ENABLE:true}
  swagger-ui:
    enabled: ${APP_SWAGGER_ENABLE:true}
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health,info

file:
  source: ${APP_FILE_SOURCE:local}

# QuickBooks Integration
quickbooks:
  client-id: ${QUICKBOOKS_CLIENT_ID:ABfDxzQ1jwvKUva1mMgPSsX0Xi01Jqkr5UAdWsX6SYpvqRu7tb}
  client-secret: ${QUICKBOOKS_CLIENT_SECRET:j4iWmw6k0hnQVjNg9ztZkRs5FrB2qTenI02tW3Vp}
  redirect-uri: ${QUICKBOOKS_REDIRECT_URI:http://localhost:7001/api/v1/integrations/quickbooks/callback}
  environment: ${QUICKBOOKS_ENV:sandbox}

