.badge-container {
  align-items: center;
  color: var(--ant-color-primary);
  background-color: var(--ant-color-primary-bg);
  border: 1px solid var(--ant-color-primary-border);
  padding: 4px 10px;
  border-radius: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
}
