.label-value-card {
  padding: 12px 20px;
  border-radius: 12px;
  border: 1px solid var(--ant-color-primary-bg-hover);

  .label {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .description {
    font-size: 12px;
    color: var(--ant-color-text-description);
  }

  .container-value {
    font-size: 24px;
    font-weight: 600;
    color: var(--ant-color-primary-active);
  }
}
