.widget-prices {
  h5 {
    margin: 0 0 16px;
  }

  .forms-container {
    margin: 20px 0;

    .field-metal {
      width: 172px;
    }

    .field-price {
      width: 180px;
    }

    .control-add-field {
      width: 320px;
    }
  }
}
