.narrow-form-spaced {
  width: 360px;

  .ant-form-item {
    .ant-row {
      justify-content: space-between;
    }

    .ant-form-item-control {
      width: 180px;
      max-width: 180px;
    }

    .ant-input-number-outlined {
      width: 100%;
    }
  }
}
