.label-value-card-wrapper {
  border: 1px solid var(--ant-color-primary-bg-hover);
  border-radius: 12px;

   .label-value-card {
     border: none;
   }

  .label-value-card-separator {
    align-self: stretch;
    width: 1px;
    margin: 12px 0;
    background-color: var(--ant-color-primary-bg-hover);
  }

  .label-value-card-weight-add-cursor {
    cursor: pointer;
  }

  .label-value-card-weight-content {
    display: flex;
    align-items: center;
    color: var(--ant-color-text-disabled);

    span {
      font-size: 16px;
    }
  }
}
