.card-with-header {
  width: 100%;
  border: 1px solid var(--ant-color-primary-border);
  border-radius: 12px;

  .ant-card-body {
    padding: 24px 24px 0;
  }

  .title-container {
    width: 100%;
    margin-bottom: 16px;

    .card-title {
      margin: 0;
      color: var(--ant-color-primary);
      font-size: 14px;
      font-weight: 400;
    }
  }
}
