.material-details-header {
  --ant-border-radius: 20px;

  .ant-picker {
    border-radius: var(--ant-border-radius);
  }
}

.material-weight {
    font-size: 16px;
    opacity: 0.65;

    span {
      font-weight: 700;
    }
}
