.file-list-upload {
  &.full-width, .full-width {
    width: 100%;
  }

  &.view-only {
    display: flex;
    flex-direction: column;

    .ant-upload-list-item-container {
      &:first-child {
        .ant-upload-list-item {
          margin-top: 0;
        }
      }
    }
  }
}
